---
title: "Platform blog 2"
author: "Oleg Smith"
tags: ["abc","fgh"]
categories: ["blogs"]
date: 2014-01-02
---

This is content of platform post 2

{{#markdown}}
```html
	<span class="glyphicon glyphicon-search"></span>
```
{{/markdown}}