---
layout: body.hbs
title: "Platform blog 2"
categories: ["toc"]
---

{{#categories}}
	{{#is category "blogs"}}
		<ul>
			{{#withSort pages "data.date" dir="desc"}}
				{{#lt index 5}}
					<li>
						<div>
							<a href="{{fixpath dest}}">{{index}} - {{data.title}}</a>
						</div>
					</li>
				{{/lt}}
			{{/withSort}}
		</ul>
	{{/is}}
{{/categories}}